<div id="layoutOrdersContent">

	<div class="row mb-3">
		<div class="col w-100">
			<filter (searchNow)="loadOrRefreshOrders()" class="w-100"></filter>
		</div>
	</div>

	<div class="row" id="ordersContent">
		<div class="col w-100">
			<nb-card [nbSpinner]="!isOrdersFetched"  nbSpinnerSize="xxlarge" nbSpinnerMessage="Daten werden geladen..."  class="w-100">	
				<nb-card-body id="gridContainer">
					<div class="hotWrapper">
						<hot-table
							[hotId]="instance"
							[settings]="settingsObj"
							[afterChange]="onAfterChange">
						</hot-table>		
					</div>
				</nb-card-body>			
			</nb-card>
		</div>
	</div>

</div>