nb-accordion {
	margin-bottom: 1.5rem;
}

#ordersTable, nb-card {
	height: auto !important;
	max-height: 100% !important;
}

nb-card, nb-card-contet {
	height:100% !important;
}

#layoutOrdersContent{
	height:100% !important;
}

.handsometable {
	color: black !important;
}

.filter-container .row {
	margin-bottom: 1.5rem;
}
.filter-container .row:last {
	margin-bottom: 0rem;
}

.ng-placeholder {
	top: 0px !important;
}