.button-row button, .button-row a { 
	margin: 15px 8px 10px 0px;
}

.mat-dialog-content{
	padding-top: 25px !important;
	padding-bottom: 25px !important;
	height: 750px !important;
}

.ssrs-reportviewer, iframe{
	border-width: 0px !important;
	border: 0;
}