.row:not(:first-child) {
	margin-top: 1rem;
}

code{
	white-space: pre;
}

.bd-callout {
    padding: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.dialog-card {
	width: 32rem;
}
